<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<%= render partial: 'layouts/error_messages', locals:{presenter:presenter} %>

<%= presenter.bank_field_tag(f) %>
<%= presenter.name_field_tag(f) %>
<%= presenter.telephone_field_tag(f) %>
<%= presenter.hours_field_tag(f) %>
<div>
<%= presenter.street_field_tag(f) %>
<%= presenter.city_field_tag(f) %>
<%= presenter.state_field_tag(f) %>
<%= presenter.zipcode_field_tag(f) %>
</div>
