<% provide(:heading, "Finding the right account") %>
<% @suppress_logo = true %>
<%= content_tag :div, t('.intro_text') %>
<%= form_tag(demo_path('v2','account_results'), method: "get") do %>
<div class="form-group row">
  <div class="input-group col-xs-8 col-xs-offset-2">
    <%= label_tag :zip, t('.zip_label'), class: 'sr-only' %>
    <%= text_field_tag :zip, nil, placeholder: t('.zip_label'), class: 'form-control enter-zip' %>
    <span class="input-group-btn"><%= link_to t('.cta'), demo_path('v2','are_you_delinquent'), class: 'btn btn-default' %></span>
  </div>
</div>
<% end %>