<% present nil, AdminNavPresenter do |presenter| %>
<nav class="navbar navbar-default" role="navigation" id='admin-nav'>
  <div class="container-fluid">

      <ul class="nav navbar-nav">
        <%= presenter.admin_home_link %>
        <%= presenter.banks_link %>
        <%= presenter.branches_link %>
        <%= presenter.bank_accounts_link %>
        <%= presenter.job_queue_link %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= presenter.edit_account_link %>
        <%= presenter.logout_link %>

      </ul>
  </div><!-- /.container-fluid -->
</nav>
<% end %>