<%= presenter.intro_heading %>
<%= presenter.intro_copy %>

<!-- recommended option -->
<%= presenter.recommended_option_block %>

<!-- CTA -->
<div class='row section'>
  <div class='col-xs-10 col-xs-offset-1'>
    <%= presenter.cta_button class: 'btn btn-primary btn-block' %>
  </div>
</div>


<%= presenter.option_heading @selected_result %>
<%= presenter.option_subheading @selected_result %>


<!-- online only options if any: -->
<%= render partial: 'account_finder/account_type/online_option', collection: presenter.online_options, as: :item, locals:{presenter: presenter} %>

<!-- map search if any: -->
<%= presenter.google_map_search %>

<!-- geo-located choice -->
<%= presenter.geolocated_choice_map @selected_result %>

<!-- other geo-located optiosn -->
<%= presenter.geolocated_options_block %>
