<div class='section online-option bg-gray padding-less margin-double margin-top'>
  <div class='row'>
    <div class='col-xs-8'>
      <div class='caps color-accent bold font-mid margin-more margin-vert'>
        <%= item[:title] %>
      </div>
    </div>
    <div class='cta col-xs-4 clearifix'>
      <div class='image pull-right'>
        <%= image_tag item[:image_uri], width: 100 %>
      </div>
    </div>
    <div class='col-xs-12'>
      <%= presenter.online_option_feature_bullets item[:features], {class: 'bullets'}, {class: 'yourbulletstylinghere'} %>
    </div>
  </div>
  <div class="">
    <div class="margin margin-vert">
    <%= item[:description] %>
    </div>
    <div class=''>
      <%= link_to t('forms.actions.action_find_out_more'), item[:cta_link], target: '_blank', class: 'btn btn-primary btn-block'
          %>
    </div>
  </div>
</div>
