<div class='recommended_option bg-gray padding-less'>
  <div class="caps">
    <%= presenter.we_recommend_heading %>
  </div>
  <div class="caps bold font-mid">
    <%= presenter.recommended_account_name %>
  </div>

  <div class="clearfix">
    <%= presenter.recommended_available_at({class: 'recommended-avail-at pull-left space-after'}) %>
    <%= presenter.recommended_branch_name({class: 'recommend-branch-name pull-left color-accent'}) %>
</div>
  <div class="italic bold">
    <%= presenter.recommended_branch_address %>
  </div>
</div>
