
<div class='recommended_option'>
<%= presenter.we_recommend_heading %>
<%= presenter.recommended_account_name %>
<%= presenter.recommended_available_at %>
<%= presenter.recommended_branch_name %>
<%= presenter.recommended_branch_address %>
</div>

<div class='why-we-chose'>
<%= presenter.why_chosen_heading %>
<%= presenter.why_chosen_description %>
</div>