<% @no_logo = true %>
<% present @account_type, FindAnAccountPresenter do |presenter| %>
<% provide(:heading,  t('.title')) %>
<% provide(:page_title, t('.title')) %>
<% presenter.user = @user %>

<%= presenter.sub_heading %>
<%= presenter.intro_copy %>
<div class='row section'>
  <div class='col-xs-10 col-xs-offset-1'>
    <%= presenter.cta_button class: 'btn btn-primary btn-block' %>
  </div>
</div>

<h4>Amex Serve</h4>
<ul>
<li>$1 Monthly Fee</li>
<li>No overdraft fees</li>
<li>Savings Account Featurs</li>
<li>Surprise surprise, it uses the Amex network</li>
</ul>
<%= link_to 'Find out more', 'https://www.serve.com/home/', target: '_blank',class: 'btn btn-primary btn-block' %>
<h4>Chase Liquid</h4>
<ul>
<li>$5 Monthly Fee</li>
<li>No overdraft Fee</li>
<li>Uses the Visa Network</li>
</ul>
<%= link_to 'Find out more', 'https://www.chase.com/debit-reloadable-cards/liquid-prepaid-card', target: '_blank',class: 'btn btn-primary btn-block' %>


<% end %>