<% @no_header = true %>
<% present @account_type do |presenter| %>
<% provide(:heading,  'Finding a Bank Account') %>
<% provide(:page_title, 'Finding a Bank Account') %>
<div class="top-result">
  <%= content_tag(:h3, "The best #{@account_type.name} for you") %>
  <% account = @results.slice!(0) %>
  <%= content_tag(:h4, account.name) %>
  <%= content_tag(:div, "Available at #{account.branch.full_name}") %>
  <%= content_tag(:div, account.branch.full_address, class:'account-branch-address') %>


<%= presenter.google_maps_tag_for_account(account) %>



<h3>Why?</h3>
<h4>Location!</h4>
<%= content_tag(:div, "As all safe accounts offer the same features, we are showing you the account closest to your zipcode (#{@user.zipcode}).") %>

<%= render partial: 'account_finder/account_type/help_me_open', locals: {user: @user, account_type: @account_type} %>

<div class='other-branches list-group section'>
  <a href="#" class="list-group-item disabled">
    <h4 class="list-group-item-heading">More Options</h4>
    <p class="list-group-item-text">If this location doesn't work for you, here are some other branches that offer the same account:</p>
  </a>
  <%= render partial: "other_account_result", collection: @results, as: :item, locals: {user: @user} %>
</div>


<% end %>
