<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<% @no_logo = true %>
<% @center_vert = true %>
<% provide(:heading, t('.title')) %>
<% provide(:title, t('.title')) %>
<% present @user do |presenter| %>
<div class='row content-padding'>
  <%= presenter.body_copy('users.request_email', class: 'col-xs-12') %>
</div>

<%= form_for @user do |f| %>
<%= render partial: 'shared/error_messages', locals:{presenter:presenter} %>
<%= hidden_field_tag :redirect_path, @redirect_path %>
<div class="row">
  <div class="form-group col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="input-group">
      <%= f.label :email,t('forms.labels.enter_email'),  class: 'sr-only' %>
      <%= f.email_field :email,  {placeholder: t('forms.labels.enter_email'), class: 'form-control'} %>
      <span class="input-group-btn"><button type="submit" name="commit" id='submit_button' class="btn btn-input"><span class="glyphicon glyphicon-chevron-right"></span></button></span>
    </div>
  </div>
  <div class='row content-padding'>
    <div class='col-xs-12'>
      <div class='input-group full-width text-center'>
        <%= presenter.skip_email_request @redirect_path, @allow_skip %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% end %>
