<%= content_tag :div, t('.intro_text') %>
<div class='account_result'>
<%= content_tag :h3, t('.result_0_bank') %>
<%= content_tag :h4, t('.result_0_account') %>
<%= content_tag :div, t('.result_0_description') %>
<button type='button' class='btn btn-primary'><%= link_to t('.cta'), demo_path('v1','prepare_for_visit') %></button>
</div>

<div class='account_result'>
<%= content_tag :h3, t('.result_1_bank') %>
<%= content_tag :h4, t('.result_1_account') %>
<%= content_tag :div, t('.result_1_description') %>
<button type='button' class='btn btn-primary'><%= link_to t('.cta'), demo_path('v1','prepare_for_visit') %></button>
</div>


<div class='account_result'>
<%= content_tag :h3, t('.result_2_bank') %>
<%= content_tag :h4, t('.result_2_account') %>
<%= content_tag :div, t('.result_2_description') %>
<button type='button' class='btn btn-primary'><%= link_to t('.cta'), demo_path('v1','prepare_for_visit') %></button>
</div>