<% provide(:heading, t('.heading')) %>
<% provide(:suppress_logo, true) %>
<%= content_tag :h3, t('.intro_text') %>

<div class='panel panel-default'>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-xs-5'><%= image_tag 'chase_logo.png', width: 111 %></div>
      <div class='col-xs-7 account-choice-title'>
        <%= content_tag :div, t('.bank_name') %>
        <%= content_tag :div, t('.account_name') %>
      </div>
    </div>
    <hr/>
    <%= content_tag :h3, t('.why_we_chose') %>
    <ol>
      <li>
        <%= content_tag :h4, t('.choice_0_heading') %>
        <%= content_tag :div, t('.choice_0_text') %>
      </li>
      <li>
        <%= content_tag :h4, t('.choice_1_heading') %>
        <%= content_tag :div, t('.choice_1_text') %>
      </li>
      <li>
        <%= content_tag :h4, t('.choice_2_heading') %>
        <%= content_tag :div, t('.choice_2_text') %>
      </li>
    </ol>
    <div class='row'>
      <div class='col-xs-12'>
        <%= link_to t('.cta'), demo_path('v1','prepare_for_visit'), class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
</div>
<div class='row page-bottom'>
  <div class='col-xs-12'>
    <%= link_to t('.cta_more_options'), demo_path('v1','account_results'), class: 'btn btn-default btn-block' %>
  </div>
</div>