<%  @no_logo = true %>
<% present @account_type do |presenter| %>
<% provide(:heading,  presenter.page_heading) %>
<% provide(:page_title, presenter.page_title) %>

<!-- What is it? -->
<%= content_tag(:h3, t(".overview_heading")) %>
<%= content_tag(:div, I18n.t("#{@account_type.name_id}.overview")) %>


<!-- Why its right for you -->
<%= content_tag(:h3, t(".why_we_chose_heading")) %>
<%= presenter.why_account_type_chosen_for @user, {class: 'list-group'}, {class: 'list-group-item list-group-item-info'} %>

<% if @account_type == AccountType.SAFE_ACCOUNT %>
<div class='account-finder-drilldown row'>
  <div class="col-xs-10 col-xs-offset-1">
  <%= presenter.find_right_account_link_for(@user, {id: 'account-finder-drilldown-button', class: 'btn btn-primary btn-block'}) %>
  </div>
</div>
<% end %>

  <div class="section row">
    <div class='col-xs-10 col-xs-offset-1'>
      <%= presenter.start_over_button({class: 'btn btn-default btn-block'}) %>
    </div>
  </div>
<% end %>