<% @no_logo = true %>
<% @header_background = true %>
<% present @account_type, FindAnAccountPresenter do |presenter| %>

<% presenter.user = @user %>
<% presenter.recommended_option = @recommended_result %>
<% presenter.results = @results %>
<% presenter.selected_result = @selected_result %>
<% provide(:sub_heading, presenter.sub_heading) %>
<% provide(:heading,  presenter.heading) %>
<% provide(:page_title, presenter.page_title) %>

<!-- below the header -->
<%= presenter.intro_heading %>
<%= presenter.intro %>

<!-- recommended option -->
<%= presenter.recommended_option_block %>

<!-- heading for search / online / geolocated result -->
<!-- <%= presenter.option_heading  %> -->
<!-- <%= presenter.option_subheading  %> -->

<!-- map search if any: -->
<div class="section">
  <%= presenter.google_map_search %>

  <!-- geo-located choice -->
  <%= presenter.geolocated_choice_map  %>
</div>

<!-- why recommended -->
<%= presenter.recommended_option_block %>

<!-- CTA -->
<div class="margin-more margin-vert">
  <div class='row content-padding'>
    <div class='col-xs-12'>
      <%= presenter.cta_button class: 'btn btn-primary btn-block' %>
    </div>
  </div>
</div>

<!-- online only options if any: -->
<%= render partial: 'account_finder/account_type/online_option', collection: presenter.online_options, as: :item, locals:{presenter: presenter} %>

<!-- other geo-located options -->
<%= presenter.geolocated_options_block %>

<% end %>
