<% present @user, AccountTypeFinderPresenter do |presenter| %>
<% @no_logo = true %>
<% @center_vert = true %>

<% provide(:heading,  presenter.page_heading) %>
<% provide(:page_title, presenter.page_title) %>

<div class="content">
<%= presenter.next_question_tag class: 'account-finder-question' %>
</div>

<%= presenter.next_question_bullets_tag( {class: 'list-group section'}, {class: 'list-group-item'}) %>


<%= form_for(@user, url: account_type_finder_path) do |f| %>
<%= f.hidden_field :zipcode %>
<%= f.hidden_field :is_delinquent %>
<%= f.hidden_field :special_group_id %>
<%= f.hidden_field :will_use_direct_deposit %>
<%= f.hidden_field :has_predictable_income %>
<%= f.hidden_field :needs_debit_card %>
<%= f.hidden_field :latitude %>
<%= f.hidden_field :longitude %>
<%= f.hidden_field :state_id %>





<div class='row'>
  <div class='col-xs-12'>
  <%= presenter.decision_buttons({class: 'btn btn-primary btn-wide btn-block btn-chevron',}) %>
 <!--  <%= presenter.yes_button({class: 'btn btn-info btn-block',}) %>
  <%= presenter.no_button({class: 'btn btn-info btn-block',}) %> -->
  </div>
</div>

<% end %>




<% end %>
