<% present @user, AccountTypeFinderPresenter do |presenter| %>


<% provide(:heading,  presenter.page_heading) %>
<% provide(:page_title, presenter.page_title) %>

<%= presenter.next_question_tag class: 'account-finder-question' %>

<%= presenter.next_question_bullets_tag( {class: 'list-group section'}, {class: 'list-group-item'}) %>


<%= form_for(@user, url: account_type_finder_path) do |f| %>
<%= f.hidden_field :zipcode %>
<%= f.hidden_field :is_delinquent %>
<%= f.hidden_field :special_group_id %>
<%= f.hidden_field :will_use_direct_deposit %>
<%= f.hidden_field :has_predictable_income %>
<%= f.hidden_field :needs_debit_card %>
<%= f.hidden_field :latitude %>
<%= f.hidden_field :longitude %>





<div class='row'>
  <div class='col-xs-12'>
  <%= presenter.decision_buttons(yes_no_button_options: {class: 'btn btn-info btn-block',},
                                grouped_container_options: {class: 'list-group section',},
                                grouped_item_options:{class: 'list-group-item btn-block'}) %>
 <!--  <%= presenter.yes_button({class: 'btn btn-info btn-block',}) %>
  <%= presenter.no_button({class: 'btn btn-info btn-block',}) %> -->
  </div>
</div>

<% end %>

<div class="section row">
  <div class='col-xs-10 col-xs-offset-1'>
    <%= presenter.start_over_button({class: 'btn btn-default btn-block'}) %>
  </div>
</div>


<% end %>