<%= render 'admin/admin_nav' if admin_user_signed_in? %>
<% unless  @no_logo %>
<div class="row header">
  <div class="center-header clearfix center-block color-accent">
    <div class='pull-left header-image'><%= image_tag 'littlegiraffe.png' %></div>
    <div class='pull-left header-copy'>
      <div class='header-welcome'><%= yield(:sub_heading) %></div>
      <div class='header-rebank font-large caps bold'><%= yield(:heading) %></div>
    </div>
  </div>
</div>

<% end %>

<div class="row content">
<% if @no_logo %>
  <div class='text-center'>
    <div class='page-sub-heading caps font-mid'>
      <%= yield(:sub_heading) %>
    </div>
    <div class='page-heading col-xs-12 font-large bold caps color-accent'>
      <%= yield(:heading) %>
    </div>
<% else %>
  <div class='text-center margin-double margin-top'>

  <% end %>
  </div>
  <div class=''>
    <div class='col-xs-12'>
      <hr />
    </div>
  </div>
</div>
