<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<!DOCTYPE html>
<html>
<head>
  <%= raw analytical.head_prepend_javascript %>
  <%= content_tag(:title, full_title(yield(:page_title)) )%>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= typekit_include_tag 'ksd2vkt' %>
  <%= csrf_meta_tags %>
  <%= raw analytical.head_append_javascript %>
</head>
<body>
<%= raw analytical.body_prepend_javascript %>
<%= render 'layouts/navigation' %>
<% if @center_vert %>
<div id="content" class='container center_vert'>
<% else %>
<div id="content" class='container'>
<% end %>
<%= render 'layouts/header' unless @no_header %>
<%= flash_block %>
<%= yield %>
<%= #debug(params) if Rails.env.development?
""
 %>
</div>
<%= raw analytical.body_append_javascript %>
</body>
</html>
